{% extends 'admin_base.html' %}

{% block Admin %}
<p><button type="button" class="btn btn-info" data-toggle="modal" data-target="#addnews" href="">添加公告</button></p>
    <div id="addnews" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">添加公告</h1>
                </div>
                <div class="modal-body">
                    <form class="form-group" action="/admin/news/add/" method="post">
                            <div class="form-group">
                                <label for="">公告信息</label>
                                <input class="form-control" type="text" name="message" placeholder="">
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit">提交</button>
                                <button class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<table class="table table-hover">
        <thead>
            <tr>
                <th style="vertical-align: middle;text-align: center;">Message</th>
                <th style="vertical-align: middle;text-align: center;">Add Date</th>
                <th style="vertical-align: middle;text-align: center;">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td style="vertical-align: middle;text-align: center;">{{ item[0] }}</td>
                <td style="vertical-align: middle;text-align: center;">{{ item[1] }}</td>
                <td style="vertical-align: middle;text-align: center;"><a href="/admin/news/del/{{ item[0] }}">Delete</a></td>
            </tr>
            {% end %}
        </tbody>
    </table>
{% end %}