{% extends 'admin_base.html' %}

{% block Admin %}
<table class="table table-hover">
    <thead>
        <tr>
            <th style="vertical-align: middle;text-align: center;">用户</th>
            <th style="vertical-align: middle;text-align: center;">赛题</th>
            <th style="vertical-align: middle;text-align: center;">事件</th>
            <th style="vertical-align: middle;text-align: center;">答案</th>
            <th style="vertical-align: middle;text-align: center;">时间</th>
            <th style="vertical-align: middle;text-align: center;">分数</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td style="vertical-align: middle;text-align: center;">{{ log[0] }}</td>
            <td style="vertical-align: middle;text-align: center;">{{ log[1] }}</td>
            <td style="vertical-align: middle;text-align: center;">{{ log[2] }}</td>
            <td style="vertical-align: middle;text-align: center;">{{ log[3] }}</td>
            <td style="vertical-align: middle;text-align: center;">{{ log[4] }}</td>
            <td style="vertical-align: middle;text-align: center;">{{ log[5] }}</td>
        </tr>
        {% end %}
    </tbody>
</table>
{% end %}