{% extends 'admin_base.html' %}

{% block Admin %}
    <p><button type="button" class="btn btn-info" data-toggle="modal" data-target="#addtype" href="">Add Hint</button></p>
    <div id="addtype" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="text-center">Add Type</h1>
                </div>
                <div class="modal-body">
                    <form class="form-group" action="/admin/type/add/" method="post">
                            <div class="form-group">
                                <label for="">name</label>
                                <input class="form-control" type="text" name="name" placeholder="">
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit">提交</button>
                                <button class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<table class="table table-hover">
        <thead>
            <tr>
                <th style="vertical-align: middle;text-align: center;">type</th>
                <th style="vertical-align: middle;text-align: center;">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td style="vertical-align: middle;text-align: center;">{{ item }}</td>
                <td style="vertical-align: middle;text-align: center;"><a href="/admin/type/del/{{ item }}">Delete</a></td>
            </tr>
            {% end %}
        </tbody>
    </table>
{% end %}