{% extends 'base.html' %}

{% block addcss %}
<style>
.d-inline-block {
    display: inline-block !important
}
.challenge-button {
    box-shadow: 3px 3px 3px grey
}
.w-100 {
    width: 100% !important
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.pt-3 {
    padding-top: 1rem !important
}

.pb-3 {
    padding-bottom: 1rem !important
}

.mb-2 {
    margin-bottom: .5rem !important
}


.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124
}

.btn-dark.focus, .btn-dark:focus {
    box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}

.btn-dark.disabled, .btn-dark:disabled {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d
}

.btn-dark:not(:disabled):not(.disabled).active:focus, .btn-dark:not(:disabled):not(.disabled):active:focus, .show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34
}

.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}


</style>
{% end %}

{% block body %}
    {% for item in items.keys() %}
        <div class="category-header col-md-12"><h3>{{ item }}</h3></div>
        <div class="challenges-row col-md-12">
            {% for chanllage in items[item] %}
            <div class="col-md-3 d-inline-block">
                <button data-toggle="modal" data-target="#{{ chanllage.id }}" class="btn {% if chanllage not in completed %}btn-dark{% else %}btn-success{% end %} challenge-button w-100 text-truncate pt-3 pb-3 mb-2">
                    <p>{{ chanllage.name }}</p>
                    <span>{{ chanllage.rank }}</span>
                </button>
            </div>
            <div id="{{ chanllage.id }}" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button class="close" data-dismiss="modal">
                                <span>×</span>
                            </button>
                        </div>
                        <div class="modal-title">
                            <h2 class="text-center">{{ chanllage.name }}</h2>
                        </div>
                        <div class="modal-body">
                            <h4>Desc: {{ chanllage.describe }}</h4>
                            <h4>Rank: {{ chanllage.rank }}</h4>
                            {% if chanllage.file != '#' %}
                            <h4>Down: <a href="{{ chanllage.file }}">Download</a></h4>
                            {% end %}
                            {% if len(chanllage.link) > 0 %}
                            <h4>Link: <a href="{{ chanllage.link }}">Go</a></h4>
                            {% end %}
                            <hr>
                            {% if chanllage not in completed %}
                            <form action="/answer/{{ chanllage.name }}" method="post">
                                Answer: <input size="25" type="text" name="answer" placeholder="">
                                <input type="submit" value="Submit">
                            </form>
                            {% end %}
                        </div>
                    </div>
                </div>
            </div>
            {% end %}
        </div>
    {% end %}
{% end %}