{% extends 'base.html' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th style="vertical-align: middle;text-align: center;">排名</th>
                <th style="vertical-align: middle;text-align: center;">用户</th>
                <th style="vertical-align: middle;text-align: center;">分数</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td style="vertical-align: middle;text-align: center;">{{ items.index(item) + 1 }}</td>
                <td style="vertical-align: middle;text-align: center;">{{ item[0] }}</td>
                <td style="vertical-align: middle;text-align: center;">{{ item[1] }}</td>
            </tr>
            {% end %}
        </tbody>
    </table>
{% end %}