{% extends 'user_base.html' %}

{% block user %}
<form class="form-group" action="/user_passwd/" method="post">
    <div class="form-group">
        <label for="">当前密码</label>
        <input class="form-control" type="password" name="current_password" placeholder="">
    </div>
    <div class="form-group">
        <label for="">新密码</label>
        <input class="form-control" type="password" name="new_password" placeholder="">
    </div>
    <div class="form-group">
        <label for="">再次输入新密码</label>
        <input class="form-control" type="password" name="new_password_check" placeholder="">
    </div>
    <div class="text-right">
        <button class="btn btn-primary" type="submit">提交</button>
    </div>
</form>
{% end %}